﻿<ion-header>
  <ion-navbar>
    <ion-title>
      Twoje listy
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home" padding>

  <div class="center">
    <p class="ionic-logo"></p>
  </div>

  <ion-list>
    <ion-item *ngFor="let list of data">
      <div (click)="viewList(list[1], list.lid)">
        <h2>{{list[0].$value}}</h2>
        <p>Produkty: {{list[1].length}}</p>
      </div>
      <!--<ion-icon outline item-right icon-left (click)="addToFavourites(list)" class="star" name="star-outline"></ion-icon>-->
    </ion-item> 
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab (click)="addList()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>  